<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @typesoftware.name %>
</p>

<%= link_to 'Edit', edit_typesoftware_path(@typesoftware) %> |
<%= link_to 'Back', typesoftwares_path %>
