<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @semanticcategory.name %>
</p>

<%= link_to 'Edit', edit_semanticcategory_path(@semanticcategory) %> |
<%= link_to 'Back', semanticcategories_path %>
